.comm-info {
    display: grid;
    grid-template-columns: auto auto;
    width: auto;
    font-size: small;

}

.calc-trans {
    background-color: lightgray;
    text-align: center;
}

.del-btn {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
}