.calculate-trans {
    text-align: center;
}

.comm-info {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    width: auto;
    font-size: small;
    background-color: lightgrey;

}

.calc-trans {
    background-color: lightgray;
    text-align: center;
}

