*{
  font-family: 'Poppins', sans-serif;
}

.del-btn {
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
}

.primary-btn {
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.gen-info{
  color: black;
  background-color: lightgrey;
}

.connected-peak-info{
  color: white;
  background-color: black;
}
.max-load-info{
  color: black;
  background-color: lightgrey;
}
.ev-load-info{
  color: white;
  background-color: black;
}
.trans-sizes-info{
  color: black;
  background-color: lightgrey;
}
.price{
  color: white;
  background-color: black;
}